/* Global Styles */
body {
  font-family: 'Playfair Display', serif;
}

/* Hero Section */
.container {
  max-width: 100%;
}

/* About Me Section */
.about-me {
  background-color: whitesmoke;
  padding: 4rem 0;
}

/* Skills Section */
.skills {
  background-color: whitesmoke;
}

/* Projects Section */
.projects {
  padding: 4rem 0;
}

/* Footer Section */
footer {
  background-color: whitesmoke;
}

/* Responsive Images */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Mobile Styles */
@media (max-width: 767px) {
  /* Hero Section */
  .container {
    padding: 0;
  }

  /* About Me Section */
  .about-me {
    padding: 2rem 0;
  }

  /* Skills Section */
  .skills {
    padding: 2rem 0;
  }

  /* Projects Section */
  .projects {
    padding: 2rem 0;
  }

  /* Footer Section */
  footer {
    padding: 2rem 0;
  }

  /* Responsive Typography Adjustments */
  h1.display-5 {
    font-size: 2rem;
  }

  p.lead {
    font-size: 1rem;
  }

/* Mobile Styles for Skills Image */
@media (max-width: 767px) {
  .skills-img {
    max-width: 50%; 
    height: auto;
  }
}